* {
  margin: 0px;
  padding: 0px;
}

button {
  color: #fff;
  border: 0px solid transparent;
  border-radius: 5px;
  background: #0093c4;
  padding: 5px;
}

body {
  background: #546e7a;
}

.container {
  min-width: calc(100vw - 20px);
  min-height: calc(100vh - 20px);
}

#draw *{
  transition: .7s;
}

.box-0 {
  background: #eee;
  border-radius: 0px ;
  height: 0px;
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 0px);
  width: 0px;
}


.box-1 {
  background: #eee;
  border-radius: 10px ;
  height: 30px;
  position: absolute;
  top: calc(50% + 35px);
  left: calc(50% - 22px);
  width: 44px;
}

.box-2 {
  background: #fff;
  border: 0px solid #ccc;
  border-radius: 10px ;
  height: 30px;
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 52px);
  width: 104px;
}

.box-3 {
  background: #fff;
  border: 0px solid #eee;
  border-radius: 8px ;
  height: 30px;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 22px);
  width: 44px;
}

.phone .box-1 {
  background: #eee;
  border-radius: 10px ;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 62px);
  width: 124px;
}

.phone .box-2 {
  border: 0px solid #ccc;
  border-radius: 10px ;
  height: 160px;
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 52px);
  width: 104px;
}

.phone .box-3 {
  border: 0px solid #eee;
  border-radius: 8px ;
  height: 16px;
  position: absolute;
  top: calc(50% - -77px);
  left: calc(50% - 8px);
  width: 16px;
}

.iphone .box-1 {
  border-radius: 15px ;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 60px);
  width: 120px;
}

.iphone .box-2 {
  border: 0px solid #ccc;
  border-radius: 10px ;
  height: 180px;
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 53px);
  width: 106px;
}

.iphone .box-3 {
  border: 8px solid #eee;
  border-radius: 8px ;
  height: 0px;
  position: absolute;
  top: calc(50% - 98px);
  left: calc(50% - 26px);
  width: 36px;
}

.camera .box-1 {
  border-radius: 10px ;
  height: 120px;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 100px);
  width: 200px;
}

.camera .box-2 {
  border: 10px solid #ccc;
  border-radius: 39px ;
  height: 58px;
  position: absolute;
  top: calc(50% - 39px);
  left: calc(50% - 39px);
  width: 58px;
}

.camera .box-3 {
  border: 0px solid #eee;
  border-radius: 5px ;
  height: 10px;
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% + 65px);
  width: 20px;
}

.light-bulb .box-0 {
  border-radius: 13px;
  height: 94px;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 30px);
  width: 60px;
}

.light-bulb .box-1 {
  border-radius: 75px ;
  height: 150px;
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 75px);
  width: 150px;
}

.light-bulb .box-2 {
    border: 10px solid #ccc;
    border-radius: 39px;
    height: 0px;
    position: absolute;
    top: calc(50% + 81px);
    left: calc(50% - 13px);
    width: 6px;
}

.light-bulb .box-3 {
    border: 10px solid #eee;
    border-radius: 39px;
    height: 0px;
    position: absolute;
    top: calc(50% + 57px);
    left: calc(50% - 20px);
    width: 20px;
}

.group-btn {
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}
